.title {
    font-family: 'Lato', sans-serif!important;
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    background-image: url("../img/elven.jpg");
    background-size: 100%;
    background-repeat: space;
    border-radius: 50px;
    height: 250px;
}

.title h1 {
    font-size: 6em;
    color: white;
    text-shadow: 2px 2px gray;
}

.adventure {
    font-family: 'Montserrat', sans-serif!important;
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #7f8c8d;
    padding: 2%;
    border-radius: 10px;
}

.title .adventure img {
    width: 50%;

}

.title .adventure p {
    width: 50%;
    margin: 0 auto;
}

.adventure .time {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.adventure .time p {
    margin: 0;
    padding: 5px;
    font-size: 1.2em;
}

.adventure h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.adventure .pcs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.adventure .pcs .pc {
    width: 33.33333%;
    text-align: center;
}

.adventure .pcs .pc img {
    width: 60%;
}

.player {
    padding: 1rem;
    background-color: darkred;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
}

@media screen and (max-width: 800px) {
    .title {
        width: 90%;
        height: 150px;
        margin-top: 140px;
    }

    .title h1 {
        font-size: 3em;
    }
    .adventure {
        width: 90%;
    }

    .player {
        margin-right: 0.3rem;
        margin-left: 0.5rem;
        font-size: 1rem;
    }

    .title .adventure p {
        width: 80%;
        margin: 0 auto;
    }
}
